BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 130
AlignConsecutiveAssignments: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: false
BinPackParameters: false
AlwaysBreakAfterReturnType:     None
AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
BinPackArguments: false